#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

# binaries are already stripped
override_dh_dwz: ;

maintainerclean:
	rm -r \
		qcom-diag/ \
		qcom-diag-dbgsym/ \
		qcom-libdiag/ \
		qcom-libdiag-dbgsym/ \
		qcom-libdiag-dev/
